---
layout: page
title: writing
permalink: /writing/
---

<ul class="post-list">
  {% for post in site.posts %}
    {% unless post.categories contains "ctf" %}
    <li class="post-list-item">
      <div class="item-left">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        {% if post.tags.size > 0 %}
        <div class="item-tags">
          {% for tag in post.tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <span class="post-list-date">{{ post.date | date: "%b %d, %Y" }}</span>
    </li>
    {% endunless %}
  {% endfor %}
</ul>
